.Container {
  width: 190px;
}
.Item {
  cursor: default;
  display: inline-block;
}
.Star {
    color: white;
    padding:1px;
  }
.StarChecked {
  color: #FFD700;
  padding:1px;
}
.Skeels {
  color: #ADD8E6;
  text-decoration: none;
}