.MainContent {
    font-family: 'Noto Serif', serif;
    font-size: 15px;
    margin-left: 20px;
    color: white;
    padding-bottom: 20px;
}

.Underline {
    text-decoration: underline;
}

.Link {
    font: inherit;
    color: #99FF99;
    text-decoration: none;
    cursor: pointer;
}

.LinkDaisy {
    font: inherit;
    color: #FFCCE5;
    text-decoration: none; 
}