.GridWrapper {
    display: grid;
    grid-template-columns: 300px 200px;
    padding: 10px;
    background-color: inherit;
  }
  .GridItem {
    background-color: inherit;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 200px;
    height: 150px;
    margin-bottom: -25px;
  }