.NavButton {
    display:inline-block;
    padding:0.46em .8em;
    border:0.1em solid #000000;
    margin:0 0.2em 0.2em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:200;
    color:#000000;
    background-color: #61DBFB;
    text-align:center;
    position: fixed;
    bottom: 28px;
    right: 0;
    cursor: pointer;
    max-width: 625%;
    font-family: 'Bitter', serif;
}   

@media (max-width: 600px) {
    .NavButton {
        display: none;
    }
}
